<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <style>
            body{
                margin: 30px 100px;
            }
        </style>
    </head>

<body>
<h2>Add Book</h2>

<form action = "addrecord/" method = "post">
    {% csrf_token %}
    Book Title:<br>
    <input name = "title">
    <br><br>

    Book Author:<br>
    <input name = "author">
    <br><br>

    Book Category:<br>
    <input name = "category">
    <br><br>

    Year Published:<br>
    <input name = "year">
    <br><br>

    <input type = "submit" value = "Submit">

</form>
</body>
</html>