<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <style>

            body{
                margin: 30px 100px;
            }
            .GFG {
                background-color: white;
                border: 2px solid black;
                color: green;
                padding: 5px 10px;
                text-align: center;
                display: inline-block;
                font-size: 20px;
                cursor: pointer;
                width: 200px;
            }
        </style>
    </head>
    <body>
        {% load static %} <img src = "{% static "media/img.jpg" %}" alt = "home" />
        <button onclick="document.location='viewbooks/'" class="GFG">View Books</button> <br><br>
        <button onclick="document.location='viewbooks/'" class="GFG">Add Book</button> <br><br>
        <button onclick="document.location='viewbooks/'" class="GFG">Reserve Book</button> <br><br>
        <button onclick="document.location='viewbooks/'" class="GFG">Issue Book</button> <br><br>
        <button onclick="document.location='viewbooks/'" class="GFG">Return Book</button> <br><br>
        <button onclick="document.location='viewbooks/'" class="GFG">View Reports</button> <br><br>
    </body>
</html>