<!DOCTYPE html>
<html>
<head>
<style>

    body{
        margin: 10px 30px;
    }

</style>

</head>
<body>

<h2>Update Book</h2>

    <form action = "updaterecord/{{mybook.id}}" method = "post">
        {% csrf_token %}
        Book Title:<br>
        <input name = "title" value="{{mybook.title}}">
        <br><br>

        Book Author:<br>
        <input name = "author" value="{{mybook.author}}">
        <br><br>

        Book Category:<br>
        <input name = "category" value="{{mybook.category}}">
        <br><br>

        Year Published:<br>
        <input name = "year" value="{{mybook.year}}">
        <br><br>

        <input type = "submit" value = "Submit">
    </form>
</body>
</html>